.nav-container {
  width: 200px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed; /* Sidebar remains fixed */
  height: 100%; /* Full-height sidebar */
}

.nav-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1; /* This allows the navigation content to grow and push the user controls to the bottom */
}

.nav-link {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s;
  overflow: hidden; /* Hide the text by default */
  white-space: nowrap; /* Prevent the text from wrapping */
}

.nav-link:not(.auth-links) {
  margin-bottom: 50px;
}

.nav-link span {
  opacity: 0; /* Hide text initially */
  visibility: hidden; /* Make text invisible initially */
  transition: opacity 0.3s, visibility 0.3s;
}

.nav-link:hover span {
  opacity: 1; /* Show text on hover */
  visibility: visible; /* Make text visible on hover */
}

.nav-icon {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Push the user controls to the bottom of the sidebar */
.user-controls,
.auth-links {
  margin-top: auto;
}

.nav-user-greeting {
  color: #ecf0f1;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.logout-button {
  display: flex;
  align-items: center;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #c0392b;
}

.auth-links .nav-link {
  margin-top: 10px;
  margin-bottom: 30px;
}

.auth-links .nav-link:hover {
  color: #2ecc71;
}

/* Content Section Styling */
.content {
  margin-left: 200px; /* Adjust for sidebar width */
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.user-greeting {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  transition: margin-bottom 0.3s ease; /* Smooth transition */
}


.dropdown-icon {
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Position below the user-greeting */
  left: 0; /* Align with the left edge of the sidebar */
  width: 100%; /* Full width of the sidebar */
  height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 400px;
}

.dropdown-item {
  padding: 4px 15px;
  display: block;
  color: #ecf0f1; /* Match the sidebar text color */
  text-decoration: none;
  
}

.dropdown-item:hover {
  background-color: #2ecc71;
}

.logout-button {
  background: none;
  border: none;
  color: inherit;
  width: 100%;
  display: flex;
  text-align: left;
}

/* Responsive Layout for Mobile */
@media (max-width: 768px) {
  .nav-container {
    width: 150px;
    height: auto;
    padding: 15px;
    position: fixed; /* Sidebar remains fixed on mobile as well */
  }

  .content {
    margin-left: 0;
  }

  .dropdown-menu {
    width: 100%; /* Ensure it still takes the full width of the sidebar */
    left: 0;
    top: 100%; /* Revert to below the username on mobile */
    transform: none;
  }
}
